@import url("https://fonts.googleapis.com/css2family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, #f3e8ff, #e4c9ff);
  color: black;
  /*font-size: 20px;*/
  margin-left: 2rem;
  padding: 0 35px;
}

h1 {
  text-align: left;
}

#button {
  background-color: #d38bcc;
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid #8b0b8b;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/*  MENIU (dreapta sus)  */

.nav-links {
  position: absolute;
  top: 20px;
  right: 40px;
  background: rgba(0, 0, 0, 0.45);
  padding: 12px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c5a3ff;
}
