<!DOCTYPE html>
<html>
  <head>
    <title>PetJoy</title>
    <link rel="stylesheet" type="text/css" href="../styles/quiz1.css" />
    <script type="text/javascript" src="../scripts/quiz1.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="header">
      <nav>
        <div class="nav-links">
          <ul>
            <li><a href="index.html">🏠MENIU</a></li>
            <li><a href="despre.html">🐮DESPRE NOI</a></li>
            <li><a href="contact.html">📞CONTACTE</a></li>
            <li><a href="quiz1.html">❗CONCURS❗</a></li>
            <li><a href="shop.html">🛒SHOP</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <h1>Quiz cu Premiu</h1>
    <p></p>
    <form name="quiz" id="quiz">
      <div>
        <h3>1.Care este cel mai rapid animal terestru din lume?</h3>
        <p><input type="radio" name="question1" value="Struțul" />A. Struțul</p>
        <p>
          <input type="radio" name="question1" value="Ghepardul" />B. Ghepardul
        </p>
        <p>
          <input type="radio" name="question1" value="Iepurele" />C. Iepurele
        </p>
        <p><input type="radio" name="question1" value="Leul" />D. Leul</p>
      </div>

      <div>
        <h3>2.Vârsta unui leu poate fi determinată de?</h3>
        <p><input type="radio" name="question2" value="Blana" />A. Blană</p>
        <p><input type="radio" name="question2" value="Ochi" />B. Ochi</p>
        <p><input type="radio" name="question2" value="Nas" />C. Nas</p>
        <p><input type="radio" name="question2" value="Dinti" />D. Dinti</p>
      </div>

      <div>
        <h3>3.Ce animal este considerat simbolul Americii?</h3>
        <p>
          <input type="radio" name="question3" value="Vulturul Pleșuv" />A.
          Vulturul Pleșuv
        </p>
        <p><input type="radio" name="question3" value="Leul" />B. Leul</p>
        <p><input type="radio" name="question3" value="Tigrul" />C. Tigrul</p>
        <p>
          <input type="radio" name="question3" value="Iepurele" />D. Iepurele
        </p>
      </div>

      <div>
        <h3>4. În ce insectă crește o omidă?</h3>
        <p>
          <input type="radio" name="question4" value="Buburuză" />A. Buburuză
        </p>
        <p><input type="radio" name="question4" value="Fluture" />B. Fluture</p>
        <p><input type="radio" name="question4" value="Albină" />C. Albină</p>
        <p><input type="radio" name="question4" value="Viespe" />D. Viespe</p>
      </div>

      <div>
        <h3>5.Ce mamifer are cea mai puternică mușcătură din lume?</h3>
        <p><input type="radio" name="question5" value="Leu" />A. Leu</p>
        <p><input type="radio" name="question5" value="Urs" />B. Urs</p>
        <p>
          <input type="radio" name="question5" value="Hipopotam" />C. Hipopotam
        </p>
        <p><input type="radio" name="question5" value="Elefant" />D. Elefant</p>
      </div>

      <div>
        <h3>6. Ce tip de pește este Nemo?</h3>
        <p><input type="radio" name="question6" value="Somon" />A. Somon</p>
        <p><input type="radio" name="question6" value="Pirania" />B. Pirania</p>
        <p><input type="radio" name="question6" value="Păstrăv" />C. Păstrăv</p>
        <p><input type="radio" name="question6" value="Clovn" />D. Clovn</p>
      </div>

      <div>
        <h3>7.Câte pene are un curcan adult?</h3>
        <p><input type="radio" name="question7" value="2700" />A. 2700</p>
        <p><input type="radio" name="question7" value="3500" />B. 3500</p>
        <p><input type="radio" name="question7" value="500" />C. 500</p>
        <p><input type="radio" name="question7" value="9000" />D. 9000</p>
      </div>

      <div>
        <h3>8.În Europa Medievală se credea ca bufnițele sunt?</h3>
        <p>
          <input type="radio" name="question8" value="Vrăjitoare" />A.
          Vrăjitoare
        </p>
        <p><input type="radio" name="question8" value="Îngeri" />B. Îngeri</p>
        <p><input type="radio" name="question8" value="Zei" />C. Zei</p>
        <p><input type="radio" name="question8" value="Demoni" />D. Demoni</p>
      </div>

      <div>
        <h3>9.Din ce tară sunt originari lemurii?</h3>
        <p>
          <input type="radio" name="question9" value="Madagascar" />A.
          Madagascar
        </p>
        <p><input type="radio" name="question9" value="India" />B. India</p>
        <p>
          <input type="radio" name="question9" value="Brazilia" />C. Brazilia
        </p>
        <p>
          <input type="radio" name="question9" value="Venezuela" />D. Venezuela
        </p>
      </div>

      <div>
        <h3>10.Care este mamiferul cu cea mai groasă blană?</h3>
        <p>
          <input type="radio" name="question10" value="Ursul polar" />A. Ursul
          polar
        </p>
        <p>
          <input type="radio" name="question10" value="Vidrele de mare" />B.
          Vidrele de mare
        </p>
        <p><input type="radio" name="question10" value="Hiena" />C. Hiena</p>
        <p><input type="radio" name="question10" value="Tigrul" />D. Tigrul</p>
      </div>
      <input
        type="button"
        name=""
        value="Gata!"
        id="button"
        onclick="check()"
      />
    </form>

    <p id="result"></p>
  </body>
</html>
